# Node modules
node_modules/

# Environment variables
.env
.env.*  # In case you use multiple env files like .env.development, .env.production

# Logs
logs
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/

# Build output
dist/
build/
